/web/public/hot
/web/public/storage
/web/storage/*.key
/web/vendor
/web/composer.lock

public/*

web/.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

**/node_modules

.idea
.vscode
